.blog {
    padding: 100px 50px 20px;
    text-align: center;
}

.blog h1 {
    margin-bottom: 20px;
    padding: 100px 50px 50px;
}

.blog-post {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 10px;
}

.blog-post img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.blog-post .blog-post-title {
    background-color: #e74c3c;
    padding: 10px;
    color: #fff;
    border-radius: 0 0 8px 8px;
}

.blog-post .blog-post-title h2 {
    margin: 0;
}

.blog-post .blog-post-title p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #f0f0f0;
}

/* Media Queries for Mobile Devices */
@media (max-width: 600px) {
    .blog {
        padding: 20px 10px;
    }

    .blog-post {
        padding: 10px;
    }

    .blog-post img {
        height: auto;
    }

    .blog-post .blog-post-title {
        padding: 5px;
    }

    .blog-post .blog-post-title p {
        font-size: 12px;
    }
}
