---
import "/src/styles/footer.css"
---
<head>
    <base href="/Golden-Grill/" />
</head>
<footer class="footer">
    <div class="contact-info">
        <p>1234 Grill St, Food City, FC 56789</p>
        <p>(123) 456-7890</p>
        <p>info@goldengrill.com</p>
    </div>
    <div class="social-media">
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>
    <div class="hours">
        <p>Mon-Fri: 10am - 10pm</p>
        <p>Sat-Sun: 12pm - 11pm</p>
    </div>
</footer>