---
import "/src/styles/header.css"
---
<head>
    <base href="/Golden-Grill/" />
</head>
<header>
    <h1 class="logo">Golden Grill</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#events">Events</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>
