---
import "/src/styles/header.css"
---

<header>
    <h1 class="logo">Golden Grill</h1>
    <nav>
        <ul>
            <li><a href="/Golden-Grill/">Home</a></li>
            <li><a href="/Golden-Grill/menu">Menu</a></li>
            <li><a href="/Golden-Grill/aboutus">About Us</a></li>
            <li><a href="/Golden-Grill/gallery">Gallery</a></li>
            <li><a href="/Golden-Grill/events">Events</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>
