---
import Header from "./components/Header.astro"
import Footer from "./components/Footer.astro"
import "/src/styles/index.css"
import "/src/styles/section-menu.css"
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<base href="/Golden-Grill/" />
		<link rel="icon" href="images/logo.jpg"/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Golden Grill</title>
	</head>
	<body>
		<Header />
		<section id="hero">
			<div class="HeroContent">
				<h2>Golden Grill</h2>
				<a href="/Golden-Grill/menu">Viev Menu</a>
			</div>
		</section>		
		<Footer />
	</body>
</html>
